@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Я hhFinder. Привет!</h1>
    <p class="lead">Я могу помочь найти тебе работу. Только нужно ввести, кем ты хочешь стать.</p>
    <hr class="my-4">
    <p>Это легко. И бесплатно!</p>
    <a class="btn btn-primary btn-lg text-center" href="@Url.Action("Search", "Home")" role="button">Learn more</a>
</div>